@using JudoModelsLibrary
@using Resource = MyResources.Inschrijvingen.Resource;
@model List<JudoMVC.Models.DeelnemerCheckedViewModel>

@{
    ViewBag.Title = Resource.SelectParticipants;
}

<h2>@Resource.SelectParticipants</h2>

@{
    var tornooi = Session["tornooi"] as Tornooi;
    if (tornooi != null)
    {
        <div class="jumbotron">
            <p><time>@tornooi.Datum.ToShortDateString()</time> @tornooi.TornooiNaam</p>
            <div style="margin-left: 10px; font-size: 12px">
                @*<p>@tornooi.PlaatsNaam</p>
                <address>
                    @tornooi.Adres @tornooi.Huisnummer<br/>
                    @tornooi.Gemeente.Postcode @tornooi.Gemeente.Plaats<br/>
                    @tornooi.Gemeente.Land.LandNaam
                </address>*@
                <p>
                    <strong>@Resource.Categories</strong>:
                    @{
                        var categories = "";
                        foreach (var tornooiLeeftijdCategorie in tornooi.TornooiLeeftijdCategories)
                        {
                            categories += tornooiLeeftijdCategorie.LeeftijdCategorie.LeeftijdCategorieNaam + " - ";
                        }
                        if (categories.Length > 3)
                        {
                            categories = categories.Remove(categories.Length - 3);
                        }
                    }
                    @categories
                </p>
                <p><strong>@Resource.RegistrationDeadline</strong>: <time>@tornooi.Datum.AddDays(-(tornooi.UitersteInschrijvingVoorAantalDagen)).ToShortDateString()</time></p>
                <p><strong>@Resource.RegistrationFee</strong>: @tornooi.InschrijvingsGeld &euro;</p>
            </div>
        </div>
    }
}



@using (Html.BeginForm("SelectDeelnemers", "Inschrijvingen", FormMethod.Post, new { role = "form" }))
{
    if (Model.Count > 0)
    {
        <h4>@Resource.SelectParticipantsForThisTournament</h4>
        <ul class="list-group checked-list-box">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="list-group-item">
                    @Html.CheckBoxFor(m => m[i].Assigned, new {@class = "checkbox", style = "display:none"})
                    @Html.HiddenFor(m => m[i].DeelnemerId)
                    <h4 class="list-group-item-heading">@Html.DisplayTextFor(m => m[i].Voornaam) @Html.DisplayTextFor(m => m[i].Familienaam)</h4>
                    <p class="list-group-item-text">@Html.DisplayTextFor(m => m[i].GeboorteJaar) @Html.DisplayTextFor(m => m[i].Geslacht)</p>
                </li>
            }
        </ul>
        <input type="submit" id="add" class="btn btn-default" value="@Resource.Next"/>
    }
    else
    {
        <h4>@Resource.NoParticipants</h4>
        <p>@Resource.NoParticipantsText</p>
        @Html.ActionLink(Resource.MyParticipants,"DeelnemersBeheren","Deelnemer")
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/checkboxList")
}