@using Resource = MyResources.Home.Resource
@{
    ViewBag.Title = Resource.HomePage;
}

<div class="row">
    <div class="col-md-4">
        <h2>@Resource.MyAccount</h2>
        <p>@Resource.MyAccountText</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Manage")">@Resource.MyAccount &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Resource.Tournaments</h2>
        <p>@Resource.TournamentsText</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Tornooien", "Tornooi")">@Resource.Tournaments &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Resource.Registration</h2>
        <p>@Resource.RegistrationText</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("SelectTornooi", "Inschrijvingen")">@Resource.Register &raquo;</a>
        </p>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/index")