@using JudoModelsLibrary
@using Resource = MyResources.Account.Resource
@model JudoMVC.Models.RegisterViewModel
@{
    ViewBag.Title = Resource.Register;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Resource.CreateNewAccount</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div id="club">
        <h3>@Resource.Club</h3>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.Clubnummer, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Clubnummer, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Clubnummer) })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Clubnaam, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Clubnaam, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Clubnaam) })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Straat, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Straat, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Straat) })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.Huisnummer, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Huisnummer, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Huisnummer) })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.Postcode, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Postcode) })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Gemeente, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Gemeente, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Gemeente) })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.LandId, new { @class = "control-label", id = "LabelLandId" })
                    @{var landen = (List<Land>)ViewBag.Landen;
                    landen.Add(new Land { LandId = -99, LandNaam = Resource.AddOtherCountry });}
                    @Html.DropDownListFor(m => m.LandId, new SelectList(landen, "LandId", "LandNaam"), "", new { @class = "form-control", id = "Landen" })
                </div>
            </div>
            <div class="col-md-3 hidden" id="LandNaam">
                <div class="form-group">
                    @Html.LabelFor(m => m.LandNaam, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.LandNaam, new { @class = "form-control", id = "textBoxLandNaam", placeholder = @Html.DisplayNameFor(m => m.LandNaam) })
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <button id="reg_next" class="btn btn-default">Next</button>
                </div>
            </div>
        </div>*@
    </div>
    
    <div id="verantwoordelijke">
        <h3>@Resource.Manager</h3>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Voornaam, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Voornaam, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Voornaam) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Familienaam, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Familienaam, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Familienaam) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Telefoonnummer, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Telefoonnummer, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Telefoonnummer) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
            </div>
        </div>
        <div class="row ">
            @*<div class="col-md-2">
                <div class="form-group">
                    <button id="reg_prev" class="btn btn-default">Previous</button>
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="@Resource.Register" />
                </div>
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}
