@using Resource = MyResources.Manage.Resource
@model JudoMVC.Models.IndexViewModel
@{
    ViewBag.Title = Resource.Manage;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Resource.ChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resource.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resource.ChangeYourPassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resource.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@Resource.Club:</dt>
        <dd>
            [
            @Html.ActionLink(Resource.ChangeClubDetails, "ChangeClub", "User")
            ]
        </dd>
        <dt>@Resource.Manager:</dt>
        <dd>
            [
            @Html.ActionLink(Resource.ChangeManagerDetails, "ChangeUser", "User")
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Resource.Tournaments</dt>
        <dd>
            [
            @Html.ActionLink(@Resource.ManageTournaments, "Index", "Tornooi")
            ]
        </dd>
        <dt>@Resource.Participants</dt>
        <dd>
            [
            @Html.ActionLink(@Resource.ManageParticipants, "DeelnemersBeheren", "Deelnemer")
            ]
        </dd>
    </dl>
</div>
